<a href="https://colab.research.google.com/github/julianovale/PythonFundamentosDSA/blob/main/DSA_Python_Cap04_08_List_Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 4</font>

## Download: http://github.com/dsacademybr

# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## List Comprehension

In [5]:
# Retornar cada caracter em uma sequência de caracteres
lst = [x for x in 'python']

In [6]:
# Check
lst

['p', 'y', 't', 'h', 'o', 'n']

In [7]:
type(lst)

list

In [8]:
# Variável x elevada ao quadrado para um range de números e retornar uma lista
lst = [x**2 for x in range(0, 11)]

In [9]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
testera = [x for x in range(20+1)]
testera1 = list(map((lambda x: x*2),testera))
print(testera)
print(testera1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [33]:
testa = lambda a,b: a+b
testaa = list(map(testa,testera,testera1))

In [34]:
print(testaa)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [35]:
testaaa = [x/2 for x in testaa]
testaaa

[0.0,
 1.5,
 3.0,
 4.5,
 6.0,
 7.5,
 9.0,
 10.5,
 12.0,
 13.5,
 15.0,
 16.5,
 18.0,
 19.5,
 21.0,
 22.5,
 24.0,
 25.5,
 27.0,
 28.5,
 30.0]

In [40]:
# Verificar os números pares em um range de números
lst = [x for x in range(11) if x % 2 == 0]

In [41]:
lst

[0, 2, 4, 6, 8, 10]

In [42]:
# Converter Celsius para Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [ ((float(9)/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [43]:
# Operações aninhadas
lst = [ x**2 for x in [x**2 for x in range(11)]]

In [ ]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

# FIM

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>